// ==========================================================================
// $Helper Classes
// ==========================================================================

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.mt-small {
  margin-top: 5rem;
}