// ==========================================================================
// $General
// ==========================================================================

* {
  box-sizing: border-box;
  font-size: 10px;
}

ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

