// ==========================================================================
// $Footer
// ==========================================================================
footer {
  margin-top: 10rem;

  .container {
    border-top: 1px solid #ccc;
  }

  p {
    margin-top: 2rem;
    font-size: 1.4rem;
  }

  a {
    color: tomato;
    font-size: 1.4rem;

    &:hover {
      color: tomato;
    }
  }
}