// ==========================================================================
// $Buttons
// ==========================================================================

// contact btn
.btn-default {
  color: tomato;
  border-color: tomato;
  transition: all .35s;

  &:hover,
  &:focus,
  &:active {
    color: #fff !important;
    background-color: tomato !important;
    border-color: tomato !important;
    outline: 0 !important;
    box-shadow: none;
  }


}

// search
input[type="search"] {
  font-size: 1.6rem;
  border: 1px solid tomato;
  border-radius: 6px;
  padding: 10px;

  &:focus {
    outline: none;
    border-width: 2px;
  }

  @media all and (max-width: $tablet-large) {
    margin-top: 1rem;
  }
}