// ==========================================================================
// add_contact_form
// ==========================================================================

.container-form {
  max-width: 90%;
  margin: 0 auto;

  @media all and (min-width: $tablet-large) {
    max-width: 500px;
  }
  label,
  input {
    font-size: 1.8rem;
    padding: 20px;
  }

  input {
    &:focus {
      outline: 0;
      border: 1px solid tomato;
      box-shadow: none;
    }
  }

  button {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.add-contact-form {
  h1 {
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid tomato;
  }
  z-index: 100;
  display: none;
}