// ==========================================================================
// $Section Results
// ==========================================================================

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media all and (max-width: $tablet-small) {
    padding: 0;
  }
}

.container-form {
  max-width: 500px;
  margin: 0 auto;

  label,
  input {
    font-size: 1.8rem;
    padding: 20px;
  }

  input {
    &:focus {
      outline: 0;
      border: 1px solid tomato;
      box-shadow: none;
    }
  }

  button {
    font-size: 1.8rem;
  }
}

// jumbotron
.jumbotron {
  padding: 20px;
  border: 1px solid #ccc;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
